# Đổi tên file này thành .env để sử dụng trên máy cá nhân (file .env sẽ không bị push lên mạng)

# URL kết nối tới Backend API
VITE_API_BASE_URL=http://localhost:8080/ProFitSuppsDB

# URL kết nối tới Chatbot API (RAG)
VITE_CHAT_API_URL=http://localhost:8000
