# Copy file nay thanh .env neu can custom khi chay docker compose

# Chatbot/OpenAI
OPENAI_API_KEY=
OPENAI_CHAT_MODEL=gpt-5-nano
OPENAI_EMBEDDING_MODEL=text-embedding-3-small
ALLOW_DEMO_RETRIEVER=false
